<div class="container">
  <div class="set_center_outer">
<h1>About</h1>
<p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
<p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
<p>さまざまなバリエーションをご用意しております。</p>
<p>また、全国へ発送可能ですので「いつ」でも「どこ」でも注文いただけます。</p>
<p>ぜひご注文ください。</p>
</div>
</div>